html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  text-align: center;
  padding: 40px;
}

@media screen and (max-width: 600px) { 
		html, body {
			float: none;
			margin:0;
			width: 100%;
		}
	}